.night-mode-blog,
.intersection-blog,
.mapfindfilter-blog {
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
    padding-bottom: 50px;
    line-height: 1.8em;
    font-size: 17px;
    color:var(--text-pub);
}
.blogpost-pub {
    color:var(--text-p);
}
.night-mode-blog h1,
.intersection-blog h1,
.mapfindfilter-blog h1 {
    color:var(--txt-header);
    transition: all 400ms ease-in-out;
    padding: 20px 0px;
    line-height: 1.5em;
    text-align: center;
}
.night-mode-blog img,
.intersection-blog img,
.mapfindfilter-blog img {
    max-width: 100%;
    border-radius: 4px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.nightmode .line,
.intersection .line,
.mapfindfilter .line{
    margin-bottom: 15px;
}
.buy-coffee {
    box-shadow: none;
    width: 125px;
}
.nightmode a,
.intersection a,
.mapfindfilter a {
    text-decoration: none;
}



//BUTTON
.circleArrow {
    margin-right: 5px;
}
.allblogsBtn {
    position: fixed;
    top: 0;
    left: 0;
    margin: 40px;
    font-size: 16px;
    padding: 8px;
    background-color:var(--background-color);
    color:var(--text-p);
    border-radius: 25px;
    border: 2px solid lightgray;
    cursor: pointer;    
}
.allblogsTopBtn {
    font-size: 16px;
    padding: 8px;
    background-color: var(--background-color);
    color:var(--text-p);
    border: 2px solid lightgray;
    border-radius: 25px;
    cursor: pointer;
    margin-bottom: 25px;
    text-align: center;
    display: none;
}
.enjoy-post {
    color:var(--text-p)
}








/*----MEDIA QUERIES----*/
@media (max-width: 1125px) {
    .allblogsBtn {
        display: none;
    }
    .allblogsTopBtn {
        display: block;
    }
}
@media (max-width: 900px) {
    .night-mode-blog h1,
    .intersection-blog h1 {
        font-size: 25px;
    }
}