html[data-theme="dark"] {
    --main-txt-color: #B5B5B5;
    --txt-gray: #E4E4E4;
    --txt-blue: #F1CE6C;
    --txt-header: #F1CE6C;
    --text-pub:#B5B5B5;
    --text-p: #E4E4E4;
    --text-read: #B5B5B5;
    --background-color: #18191A;
}