html[data-theme="light"] {
    --main-txt-color: #333;
    --txt-gray: #8C8C8C;
    --txt-header: #333;
    --text-pub:#333;
    --text-p:#333;
    --text-read: #5D93FF;
    --txt-blue: #5D93FF;
    --background-color: white;
}